# Node.js
node_modules/
.env
.env.local

# Vite
dist/
.vite/

# Editor / sistema operacional
.DS_Store
Thumbs.db

# VS Code settings
.vscode/
*.code-workspace

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# IDEs
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Mac system
*.DS_Store

*.sln
*.sw?
